html, body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#e66465, #9198e5)
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 10vh;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  height: 100%;
  width: 100%;
}

.menuButtons button {
  height: 5vh;
  width: 15vh;
  border: 3px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  gap: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 2vh;
  cursor: pointer;
}

#serversDiv {
  display: none;
  height: 5vh;
  width: 15vh;
  justify-content: center;
  border: 3px solid black;
  border-radius: 16px;
}