html, body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#e66465, #9198e5)
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  opacity: 0 !important;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
  opacity: 1 !important;
  transform: translateY(20px);
  animation: slide-in 0.6s ease forwards;
}

#title {
  display: flex;
  justify-content: center;
  font-size: 10vh;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  height: 100%;
  width: 100%;
}

.menuButtons button {
  height: 5vh;
  width: 18vh;
  border: 3px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 2vh;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#playersAmmount {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#playersAmmount label {
  font-family: "Roboto Slab", serif;
  font-size: 4vh;
}

#enterGame {
  font-family: "Roboto Slab", serif;
  font-size: 4vh;
  border: 3px solid black;
  border-radius: 10%;
}